<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>



        <!-- Employés -->
        <record id="hr.menu_hr_root" model="ir.ui.menu" >
            <field name="groups_id" eval="[(6,0,[
                ref('hr.group_hr_user'),
            ])]"/>
        </record>


        <!-- CRM -->
        <record id="crm.crm_menu_root" model="ir.ui.menu" >
            <field name="sequence">8</field>
            <field name="groups_id" eval="[(6,0,[
                ref('is_bsa14.is_crm_group'),
            ])]"/>
        </record>


        <!-- Ventes -->
        <record id="is_menu_sale_order_line" model="ir.ui.menu" >
            <field name="name">Lignes de commandes</field>
            <field name="sequence">70</field>
            <field name="parent_id" eval="ref('sale.sale_order_menu')"/>
            <field name="action"    ref="is_action_sale_order_line"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>
        <record id="is_sale_order_line_menu" model="ir.ui.menu" >
            <field name="name">Statistique commandes</field>
            <field name="sequence">80</field>
            <field name="parent_id" eval="ref('sale.sale_order_menu')"/>
            <field name="action"    ref="is_sale_order_line_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>
        <record id="is_simulation_livrable_menu" model="ir.ui.menu" >
            <field name="name">Simulation livrable</field>
            <field name="sequence">90</field>
            <field name="parent_id" eval="ref('sale.sale_order_menu')"/>
            <field name="action"    ref="is_simulation_livrable_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>

        <menuitem 
            name="Catégorie client"
            id="is_categorie_client_menu"
            parent="sale.menu_sale_config"
            action="is_categorie_client_action"
            sequence="900"
        />
        <menuitem 
            name="Société commerciale"
            id="is_societe_commerciale_menu"
            parent="sale.menu_sale_config"
            action="is_societe_commerciale_action"
            sequence="910"
        />


        <!-- is.devis.parametrable -->
        <record id="is_devis_parametrable_main_menu" model="ir.ui.menu" >
            <field name="name">Devis paramètrable</field>
            <field name="sequence">2</field>
            <field name="parent_id" eval="ref('sale.sale_menu_root')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>


        <record id="is_devis_parametrable_affaire_menu" model="ir.ui.menu" >
            <field name="name">Affaire</field>
            <field name="sequence">10</field>
            <field name="parent_id" eval="ref('is_devis_parametrable_main_menu')"/>
            <field name="action"    ref="is_devis_parametrable_affaire_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>

        <record id="is_devis_parametrable_menu" model="ir.ui.menu" >
            <field name="name">Devis paramètrable</field>
            <field name="sequence">20</field>
            <field name="parent_id" eval="ref('is_devis_parametrable_main_menu')"/>
            <field name="action"    ref="is_devis_parametrable_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>


        <record id="is_devis_parametrable_configuration_menu" model="ir.ui.menu" >
            <field name="name">Configuration</field>
            <field name="sequence">90</field>
            <field name="parent_id" eval="ref('is_devis_parametrable_main_menu')"/>
            <field name="groups_id" eval="[(6,0,[
                ref('sales_team.group_sale_manager'),
            ])]"/>
        </record>


        <menuitem 
            name="Type d'équipement"
            id="is_type_equipement_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_type_equipement_action"
            sequence="920"
        />
        <menuitem 
            name="Section devis"
            id="is_section_devis_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_section_devis_action"
            sequence="930"
        />
        <menuitem 
            name="Type de cuve"
            id="is_type_cuve_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_type_cuve_action"
            sequence="940"
        />
        <menuitem 
            name="Matière"
            id="is_matiere_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_matiere_action"
            sequence="950"
        />
        <menuitem 
            name="Dimensions"
            id="is_dimension_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_dimension_action"
            sequence="960"
        />
        <menuitem 
            name="Liens Odoo/Excel"
            id="is_lien_odoo_excel_menu"
            parent="is_devis_parametrable_configuration_menu"
            action="is_lien_odoo_excel_action"
            sequence="970"
        />

        <!-- Achats -->
        <menuitem 
            name="Articles avec dernière commande d'achat"
            id="is_derniere_commande_achat_menu" 
            parent="purchase.menu_procurement_management" 
            action="is_derniere_commande_achat_action" 
            sequence="7"
        />
        <menuitem id="is_purchase_order_arc_menu" parent="purchase.menu_procurement_management" action="is_purchase_order_arc_acion" sequence="7" />
        <menuitem id="is_purchase_order_line_menu" parent="purchase.menu_procurement_management" action="is_purchase_order_line_acion" sequence="7" />
        <menuitem id="is_purchase_order_line_tole_menu" parent="purchase.menu_procurement_management" action="is_purchase_order_line_tole_acion" sequence="7" />
        <menuitem 
            name="Contrats commandes ouvertes"
            id="is_contrat_fournisseur_menu" 
            parent="purchase.menu_procurement_management" 
            action="is_contrat_fournisseur_action" 
            sequence="7"
        />


        <!-- Achats / Articles -->
        <menuitem 
            name="Lignes tarifs fournisseurs"
            id="is_product_supplierinfo_menu" 
            parent="purchase.menu_purchase_products" 
            action="is_product_supplierinfo_action" 
            sequence="100"
        />






        <!-- Inventaire -->
        <menuitem 
            id="is_liste_manquants_menu" 
            sequence="90"  
            name="Liste des manquants" 
            action="is_liste_manquants_action" 
            parent="stock.menu_stock_inventory_control"
        />
        <menuitem 
            action="action_is_stock_category_config" 
            id="menu_stock_category"
            parent="stock.menu_stock_config_settings" 
            sequence="12" 
        />
        <menuitem   
            name="Lignes des livraisons"
            action="is_picking_line_action"  
            id="is_picking_line_menu" 
            parent="stock.menu_stock_warehouse_mgmt"
            sequence="900"
        />
        <menuitem 
            id="menu_is_bsa_tracabilite" 
            name="Etiquettes" 
            parent="stock.menu_stock_root" 
            sequence="5"
        />
        <menuitem   action="action_is_bsa_tracabilite_reception" 
                id="menu_action_is_bsa_tracabilite_reception"
                parent="menu_is_bsa_tracabilite"
                sequence="1"/>
        <menuitem   action="action_is_bsa_tracabilite_livraison" 
                    id="menu_action_is_bsa_tracabilite_livraison"
                    parent="menu_is_bsa_tracabilite"
                    sequence="2"/> 
        <menuitem   action="is_tracabilite_reception_line_action" 
                    id="is_tracabilite_reception_line_menu"
                    parent="menu_is_bsa_tracabilite"
                    sequence="3"/> 
        <menuitem 
            id="is_valorisation_stock_menu" 
            sequence="10" 
            name=" Valorisation du stock"
            parent="stock.menu_stock_root" 
        />
        <menuitem 
            id="is_product_template_menu" 
            sequence="10" 
            name=" Articles"
            parent="is_valorisation_stock_menu" 
            action="is_product_template_action" 
        />
        <menuitem 
            id="bsa_stock_a_date_menu_20" 
            sequence="20" 
            name="Calculer stock à date" 
            parent="is_valorisation_stock_menu" 
            action="bsa_stock_a_date_wizard_action"
        />
        <menuitem 
            id="bsa_stock_a_date_menu_10" 
            sequence="30" 
            name="Stock à date" 
            parent="is_valorisation_stock_menu" 
            action="bsa_stock_a_date_action"
        />


        <!-- Facturation / Client -->
        <record id="is_livraisons_a_facturer_action_server" model="ir.actions.server">
            <field name="name">Livraisons à facturer</field>
            <field name="model_id" ref="stock.model_stock_picking"/>
            <field name="binding_model_id" ref=""/>
            <field name="state">code</field>
            <field name="code">action = model.livraisons_a_facturer_action()</field>
        </record>
        <menuitem 
            name="Lignes de factures"
            id="is_account_invoice_line_menu"
            parent="account.menu_finance_receivables"
            action="is_account_invoice_line_action"
            sequence="800"
        />
        <menuitem   
            name="Livraisons à facturer"
            action="is_livraisons_a_facturer_action_server"  
            id="is_livraisons_a_facturer_menu" 
            parent="account.menu_finance_receivables" 
            sequence="810"
        />
        <menuitem   
            action="is_export_vente_compta_action"  
            id="is_export_vente_compta_menu" 
            parent="account.menu_finance_receivables" 
            sequence="820"
        />
        <menuitem
            action="is_balance_agee_action"         
            id="is_balance_agee_menu"        
            parent="account.menu_finance_receivables" 
            sequence="830"
        />

        <!-- Facturation / Fournisseur -->
        <record id="is_receptions_a_facturer_action_server" model="ir.actions.server">
            <field name="name">Réceptions à facturer</field>
            <field name="model_id" ref="stock.model_stock_picking"/>
            <field name="binding_model_id" ref=""/>
            <field name="state">code</field>
            <field name="code">action = model.receptions_a_facturer_action()</field>
        </record>
        <menuitem   
            name="Réceptions à facturer"
            action="is_receptions_a_facturer_action_server"  
            id="is_receptions_a_facturer_menu" 
            parent="account.menu_finance_payables" 
            sequence="800"
        />
        <menuitem  
            action="is_export_achat_compta_action"  
            id="is_export_achat_compta_menu" 
            parent="account.menu_finance_payables" 
            sequence="810"
        />



        <!-- Facturation / Autre -->
        <menuitem   
            id="is_mode_reglement_menu" 
            name="Mode de règlement"
            action="is_mode_reglement_action"  
            parent="account.menu_finance_configuration" 
            sequence="90"
        />
        <menuitem   
            id="is_account_move_line_menu" 
            name="Lignes d'écritures"
            action="is_account_move_line_action"  
            parent="account.menu_finance_entries" 
            sequence="0"
        />



        <!-- Production -->
        <!-- <menuitem 
            id="is_product_product_menu" 
            sequence="10" 
            name=" Variantes d'articles"
            parent="mrp.menu_mrp_bom" 
            action="is_product_product_action" 
        /> -->
        <menuitem   
            name="Lignes des nomenclatures"
            action="is_mrp_bom_line_action"  
            id="is_mrp_bom_line_menu" 
            parent="mrp.menu_mrp_bom" 
            sequence="20"
        />
        <menuitem   
            name="Gamme générique"
            action="is_gamme_generique_action"  
            id="is_gamme_generique_menu" 
            parent="mrp.menu_mrp_bom" 
            sequence="30"
        />
        <menuitem   
            name="Importation nomenclature"
            action="is_import_nomenclature_action"  
            id="is_import_nomenclature_menu" 
            parent="mrp.menu_mrp_bom" 
            sequence="40"
        />
        <menuitem 
            action="is_position_dans_produit_action" 
            id="is_position_dans_produit_menu"
            parent="mrp.menu_mrp_configuration"
            sequence="90" 
        />
        <menuitem 
            id="menu_is_fiche_travail" 
            parent="mrp.menu_mrp_manufacturing" 
            action="is_fiche_travail_action" 
            sequence="90"
        />
        <menuitem id="bsa_affectation_gabarit_menu" parent="mrp.menu_mrp_manufacturing" action="bsa_affectation_gabarit_action" sequence="10" />
        <menuitem id="mrp.menu_mrp_production_action" action="bsa_mrp_production_action" parent="mrp.menu_mrp_manufacturing" sequence="1"/>
        <menuitem id="bsa_mrp_production_planification_menu" parent="mrp.menu_mrp_manufacturing" action="bsa_mrp_production_planification_action" sequence="11" />
        <menuitem name="Gabarits" id="is_gabarit_menu" parent="mrp.menu_mrp_manufacturing" action="is_gabarit_action" sequence="90" />
        <menuitem name="Dates postes de charge" id="is_mrp_workcenter_temps_ouverture_menu" parent="mrp.menu_mrp_manufacturing" action="is_mrp_workcenter_temps_ouverture_action" sequence="96" />
        <!-- <menuitem name="Postes de charge" id="is_mrp_workcenter_menu" parent="mrp.menu_mrp_manufacturing" action="is_mrp_workcenter_action" sequence="95" /> -->


        <!-- Projets -->
        <menuitem   
            name="Tâches"
            action="is_project_task_tree_view"  
            id="is_project_task_menu" 
            parent="project.menu_project_management" 
            sequence="10"
        />
        <menuitem   
            name="Cause retour plan"
            action="is_cause_retour_plan_action"  
            id="is_cause_retour_plan_menu" 
            parent="project.menu_project_management" 
            sequence="900"
        />


 

        <!-- Ressources Humaines -->


        <record id="is_personnel_present_menu" model="ir.ui.menu" >
            <field name="name">Personnel présent</field>
            <field name="sequence">900</field>
            <field name="parent_id" eval="ref('hr.menu_hr_main')"/>
            <field name="action"    ref="is_personnel_present_action"/>
            <field name="groups_id" eval="[(6,0,[
                ref('hr.group_hr_user'),
            ])]"/>
        </record>
        <!-- <menuitem   
            name="Personnel présent"
            action="is_personnel_present_action"  
            id="is_personnel_present_menu" 
            parent="hr.menu_hr_main"
            sequence="900"
        /> -->
        <menuitem 
            id="is_accident_travail_menu"
            sequence="20" 
            name="Suivi accident du travail" 
            parent="hr.menu_hr_root"
        />
        <menuitem 
            id="is_accident_travail_menu_10" 
            sequence="10" 
            name="Suivi accident du travail" 
            parent="is_accident_travail_menu" 
            action="is_accident_travail_action"
        />


        <menuitem 
            id="menu_is_pointage"                    
            sequence="30" 
            name="Pointage" 
            parent="hr.menu_hr_root"
        />
        <menuitem 
            id="menu_is_pointage_pointage"     
            sequence="10" 
            parent="menu_is_pointage" 
            action="is_pointage_action"
        />
        <menuitem 
            id="menu_is_pointage_commentaire"     
            sequence="20" 
            parent="menu_is_pointage" 
            action="is_pointage_commentaire_action"
        />
        <menuitem 
            id="is_heure_effective_menu"     
            sequence="21" 
            parent="menu_is_pointage" 
            action="is_heure_effective_action"
        />
        <menuitem 
            id="is_heure_effective_info_menu"     
            sequence="22" 
            parent="menu_is_pointage" 
            action="is_heure_effective_info_action"
        />
        <menuitem 
            id="menu_is_pointage_badge"     
            sequence="30" name="Badges"      
            parent="menu_is_pointage" 
            action="is_badge_action"
        />
        <menuitem 
            id="menu_is_pointage_jour_ferie"     
            sequence="40" 
            name="Jours fériés / Congés"      
            parent="menu_is_pointage" 
            action="is_jour_ferie_action"
        />
        <menuitem 
            id="is_paye_menu"     
            sequence="50" 
            name="Préparation salaires"      
            parent="menu_is_pointage" 
            action="is_paye_action"
        />
        <menuitem 
            id="is_paye_intitule_menu"
            sequence="60" 
            name="Préparation salaires - Intitulés"
            parent="menu_is_pointage" 
            action="is_paye_intitule_action"
        />



        <menuitem id="menu_is_pointage_report" sequence="25" parent="hr.menu_hr_root" name="Rapport" />
        <menuitem id="menu_is_pointage_report1" sequence="10" action="is_pointage_report1_action" parent="menu_is_pointage_report"/>
        <!--<menuitem action="hr.open_view_employee_list_my" id="is_menu_open_view_employee_list_my" sequence="10" parent="hr.menu_hr_main"/>-->


       <!-- Qualité -->
        <menuitem id="bsa_qualite_main_menu"      sequence="85" name="Qualité"/>
        <menuitem id="bsa_fnc_menu"           sequence="10" name="FNC"           parent="bsa_qualite_main_menu"/>
        <menuitem id="bsa_fnc_menu_10"        sequence="10" name="FNC"           parent="bsa_fnc_menu" action="bsa_fnc_action"/>
        <menuitem id="bsa_fnc_categorie_menu" sequence="20" name="Catégorie FNC" parent="bsa_fnc_menu" action="bsa_fnc_categorie_action"/>

        <menuitem   
            name="Fiches de contrôle"
            id="is_fiche_controle_main_menu" 
            parent="bsa_qualite_main_menu"
            sequence="20"
        />
        <menuitem   
            name="Fiches de contrôle"
            action="is_fiche_controle_action"  
            id="is_fiche_controle_menu" 
            parent="is_fiche_controle_main_menu"
            sequence="10"
        />
        <menuitem   
            name="Points à contrôler"
            action="is_fiche_controle_point_action"  
            id="is_fiche_controle_point_menu" 
            parent="is_fiche_controle_main_menu"
            sequence="20"
        />

        <!-- Qualité / Outillage -->
        <menuitem   
            name="Outillage"
            id="is_outillage_main_menu" 
            parent="bsa_qualite_main_menu"
            sequence="30"
        />
        <menuitem   
            name="Outillage"
            action="is_outillage_action"  
            id="is_outillage_menu" 
            parent="is_outillage_main_menu"
            sequence="10"
        />
       <menuitem   
            name="Ligne d'outillage"
            action="is_outillage_ligne_action"  
            id="is_outillage_ligne_menu" 
            parent="is_outillage_main_menu"
            sequence="20"
        />


        <!-- Qualité / Système de gestion -->
        <menuitem   
            name="Système de gestion"
            id="is_systeme_gestion_main_menu" 
            parent="bsa_qualite_main_menu"
            sequence="40"
        />
        <menuitem   
            name="Revues"
            action="is_sg_revue_action"  
            id="is_sg_revue_menu" 
            parent="is_systeme_gestion_main_menu"
            sequence="10"
        />
        <menuitem   
            name="Audits"
            action="is_sg_audit_action"  
            id="is_sg_audit_menu" 
            parent="is_systeme_gestion_main_menu"
            sequence="20"
        />
        <menuitem   
            name="Manuels"
            action="is_sg_manuel_action"  
            id="is_sg_manuel_menu" 
            parent="is_systeme_gestion_main_menu"
            sequence="30"
        />
        <menuitem   
            name="Systèmes"
            action="is_sg_systeme_action"  
            id="is_sg_systeme_menu" 
            parent="is_systeme_gestion_main_menu"
            sequence="40"
        />








        <!-- Messages -->
        <record model="ir.actions.act_window" id="is_mail_message_action">
            <field name="name">Messages</field>
            <field name="res_model">mail.message</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('type', 'not in', ['notification'])]</field>
        </record>
        <menuitem 
            action="is_mail_message_action" 
            id="is_mail_message_menu"
            parent="purchase.menu_procurement_management"
            sequence="900" 
        />

        <!-- Déplacer les menus non utilsés -->
        <menuitem id="menu_is_autre"               sequence="90" parent="base.menu_custom" name="Autre"/>
        <menuitem id="mail.menu_root_discuss"      sequence="10" parent="menu_is_autre"/>
        <menuitem id="mail.mail_feeds_main"        sequence="20" parent="menu_is_autre"/>
        <menuitem id="calendar.mail_menu_calendar" sequence="30" parent="menu_is_autre"/>
        <menuitem id="contacts.menu_contacts"      sequence="40" parent="menu_is_autre"/>


    </data>
</odoo>

