/*
td {
    color:black;
}

td [name="name"]{
    color:black;
}
*/

.test_scss{
    max-width: 250px !important;
    // white-space: normal !important;
}

.test_scss2{
    overflow: visible !important;
    width: 0;
    min-width: fit-content;
}

/*
table {
    white-space: normal;
    width: 100%;
  }
  
  td {
    border: 1px solid black;
  }
  
  td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  td.fit {
    width: 0;
    min-width: fit-content;
  }
*/


.o_cw_popover .o_cw_popover_fields_secondary {
    max-height: 300px;
    max-height: 50vh;
}


// .bsa_tree_view[data-id="is_num_ligne"]{
//     color:red;
//     background-color: green;
//     width: 10px !important;
//     max-width: 10px !important;
// }




//Pour corriger bug avec sticky_header_tree_and_form_view
.o_list_view .o_optional_columns_dropdown_toggle {
  z-index: 999 !important;
  padding-right: 10px;
}